/**
 * Ninja Forms - Select Image Field Make Image Responsive On Mobile
 * @author Faisal Ahammad
 */

/* Mobile styles */
@media all and (max-width: 767px) {
  .listimage-wrap li label img {
    margin-top: 10px;
  }

  .listimage-container .nf-field .nf-field-element ul {
    display: block !important;
  }

  .listimage-container .nf-field .nf-field-element ul li {
    width: 100% !important;
  }

  .listimage-container .listimage-wrap .nf-field-element ul li {
    text-align: center;
  }

  .listimage-container .listimage-wrap .nf-field-element ul li img {
    margin: 10px auto 0 !important;
  }
}
